* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #1f2937; /*blue*/
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex; 
    justify-content: space-between;
}

.links {
    display: flex; 
    justify-content:flex-end;
}

.link-one, .link-two, .link-three {
    margin-left: 20px;
}   

.header-container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.header-right {
    background-color: grey;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882F6;
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.photo-grid-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.photo-grid-title {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.photo-grid-all {
    display: flex;
}

.photo-grid {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.photo-grid-item {
    border: 3px solid lightskyblue;
    width: 150px;
    height: 150px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex:1;
}

.footer-one, .footer-three {
    background-color: #5995da;
    flex: initial;
    width: 300px;
}