* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #1f2937; /*blue*/
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex; 
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex; 
    justify-content:flex-end;
}

.link-one, .link-two, .link-three {
    margin-left: 20px;
}   

.header-container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.hero-main, .hero-sec, .signup {
    margin: 15px;
    margin-right: 40px;
}

.header-right {
    background-color: grey;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882F6;
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.photo-grid-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.photo-grid-title {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.photo-grid-all {
    display: flex;
}

.photo-grid {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.photo-grid-item {
    border: 3px solid blue;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.bot-text {
    color: grey;
    display: flex;
    justify-content: center;
}

.bottom-section {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 600px;
    display: flex;
    flex-flow: column wrap;
}

.quote-line {
    font-style: italic;
    font-size: 36px;
}
.name {
    font-size: 30px;
    align-self: flex-end;
}

.footer {
    background-color: #1f2937; /*blue*/
    height: 100px;
}
